<h3>Artists</h3>
<a href="/artists/add" class="btn btn-primary">Add An Artist</a>
<div class="row">

  <div class="col-md-4">
  <ul>
  {{#each artists}}
    <li><a href="/artists/{{this.slug}}">{{this.name}}</a></li>
  {{/each}}
  </ul>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>

</div>
