<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link href="/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/eventsite.js"></script>
 </head>
  <body>

    <div class="container">
      <h1>Event Site</h1>
      {{{body}}}
    </div>
  </body>
</html>
