<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link href="/stylesheets/style.css" rel="stylesheet">
 </head>
  <body>

    <div class="container">
      <h1>Event Site</h1>
      {{{body}}}
    </div>
  </body>
</html>
