<h2>Login</h2>

<form method="POST" action="">
  <p>
    <label for="email">
      <span>E-Mail: </span>
      <input type="email" id ="email" name="email" required />
    </label>
  </p>

  <p>
    <label for="password">
      <span>Password: </span>
      <input type="password" id ="password" name="password" required />
    </label>
  </p>

  <input type="submit" value="Login">
</form>


