<h2>Register</h2>

<form method="POST" action="">
  <p>
    <label for="email">
      <span>E-Mail: </span>
      <input type="email" id ="email" name="email" required />
    </label>
  </p>

  <p>
    <label for="first_name">
      <span>First Name: </span>
      <input type="text" id ="first_name" name="first_name" required />
    </label>
  </p>

  <p>
    <label for="last_name">
      <span>Last Name: </span>
      <input type="text" id ="last_name" name="last_name" required />
    </label>
  </p>

  <p>
    <label for="password">
      <span>Passowrd: </span>
      <input type="password" id="password" name="password" required />
    </label>
  </p>

  <input type="submit" value="Register">
</form>    
