html {
  position: relative;
  min-height: 100%;
}

body {

  padding-top: 70px;
  padding-bottom: 60px;
}

.hidden {
  display: none;
}

.event_listing {
  border: 2px solid black;
  margin: 5px;
  padding: 3px;
}

#unfollowBtn:hover {
  background-color: red;
}

#unfollowBtn:hover span {
  display: none;
}


#unfollowBtn:hover:after {
  content: "Unfollow";
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

